* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Ubuntu, system-ui, sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 25% 65% 10%;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
  font-weight: 800;
  line-height: 1.15;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  color: rgb(9, 9, 68);
}
main{
  grid-row: 2/3;
  display: block;
  text-align: center;
  min-width: 100vw;
}
footer{
  grid-row: 3/4;
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgb(9, 9, 68);
}
img {
  border-radius: 15px;
  box-shadow: 8px 8px 5px grey;
}
a{
  color: rgb(9, 9, 68);
}

@media (max-width: 767px) {

  body {
    font-size: 1.8rem;
    line-height: 1.55;
  }
  header{
    margin-top: 5px;
  }
  main{
    margin-top: 5px;
  }
  img{
    height: 60px;
    margin: 3px;
  }

}

@media (min-width: 768px) {

  body {
    font-size: 2rem;
    line-height: 1.7;
  }
  header{
    margin-top: 20px;
  }
  main{
    margin-top: 20px;
  }
  img{
    height: 120px;
    margin: 5px;
  }

}